<button type="button" class="btn btn-primary btn-load"
        data-url = "{{ path('origen_dato_cargar', {'id': object.id}) }}"
        title="{{ 'action_load_data'|trans }}">
    <i class="glyphicon glyphicon-upload"></i>
    {{ admin.trans('action_load_data')}}
</button>
