.buscar-addon {
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.buscar-addon span {
  width: 1%;
}

.modal-header .close {
  margin-top: -30px;
  font-size: 20pt;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

.list_indicador {
  cursor: pointer;
}

.list_indicador:hover {
  background: aliceblue;
}

.tablero_breadcrumb {
  padding: 8px !important;
  margin-top: -19px !important;
  display: block;
  width: 100%;
  border-bottom: 2px solid #f5f5f5;
}

.navbar-collapse a {
  cursor: pointer;
}

#sala .dropdown-menu {
  z-index: 999999;
}

#sala .close_indicador {
  margin-top: -41px;
  color: red;
  font-size: 30pt;
  text-shadow: 1px 1px 1px #000;
  opacity: 0.7;
}

#sala nvd3{
  cursor: default;
}