{% extends 'CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ConexionAdmin/conexion_edit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <button type='button' name="btn_probar_conexion" id='btn_probar_conexion' class='btn btn-primary' >
        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
        {{admin.trans('probar_conexion')}}
    </button>
{% endblock %}
