{% extends 'CRUD/edit.html.twig' %}

{% block sonata_admin_content_actions_wrappers %}
    <button onclick="openHelpPanel('/manuales/manual-usuario-tecnico/Output/website/book/', 'capitulo-1.html#variables')"
            title="{{ '_ayuda_'|trans }}"
            class="btn btn-primary navbar-right" style="margin-top: 10px;">
        <i class="fa fa-question-circle " aria-hidden="true"></i>
    </button>
    {{ parent() }}
{% endblock %}