
<div class="content tab-pane " id="log_actividad">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a>
                    {{"_bitacora_actividad_"|trans}}
                </a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="list-group" >
                <A  class='log_actividad_item list-group-item' >
                    {{"_cargar_bitacora_"|trans}}
                </A>
            </div>
        </div>
    </div>
</div> 