<div class="modal fade" id="modalTablaDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel2"><% indicadores[posicion].nombre %></h4>
            
            

        </div>
        <div class="modal-body" style="max-height:400px; max-width:100%; overflow:auto;" id="exportar_tabla_datos">
            
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr class="sonata-ba-view-title" bgcolor='#E1EFFB'>
                        <th ng-repeat="(key, value) in indicadores[posicion].data[0]"><% key %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in indicadores[posicion].data">
                        <td ng-repeat="(k, v) in value"><% v %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="exportar_excel('exportar_tabla_datos', indicadores[posicion].nombre)">{{ '_exportar_excel_' | trans}}</button>
            <button type="button" class="btn btn-primary" ng-click="exportar_pdf('exportar_tabla_datos', indicadores[posicion].nombre)">{{ '_exportar_pdf_' | trans}}</button>
            <button type="button" class="btn btn-primary" ng-click="exportar_csv(indicadores[posicion].nombre, indicadores[posicion].data)">{{ '_exportar_csv_' | trans}}</button>
            <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">{{ '_cerrar_' | trans}}</button>
        </div>
    </div>
  </div>
</div>